@{
    ViewData["Title"] = "Registrar Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-lg border-0 mt-5">
            <div class="card-body">
                <h4 class="text-center mb-4">Registrar Perfil</h4>
                <form action="/Account/RegistrarPerfil" method="post">
                    <div class="mb-3">
                        <label>Nombre</label>
                        <input type="text" name="Nombre" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label>Apellido</label>
                        <input type="text" name="Nombre" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label>Fecha de Nacimiento</label>
                        <input type="date" name="fechaNacimiento" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label>Correo</label>
                        <input type="email" name="Correo" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label>Contraseña</label>
                        <input type="password" name="Password" class="form-control" required />
                    </div>

                    <!-- Campo oculto si se está editando un usuario existente -->
                    <input type="hidden" name="Id" value="@ViewBag.Id" />


                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">@ViewBag.Error</div>
                    }

                    <button type="submit" class="btn btn-primary w-100">Registrar y Entrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
