@model IEnumerable<biblioteca_en_ASP_NET.Models.Usuario>
@{
    ViewBag.Title = "Panel Administrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios del sistema</h2>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Nombre</td>
                <td>@u.Correo</td>
                <td>@u.Rol</td>
            </tr>
        }
    </tbody>
</table>
